[Unit]
Description=Namban startup check
After=network.target auditd.service
Documentation=https://github.com/parchlinuxb/namban

[Service]
Type=oneshot
ExecStart=/usr/lib/namban/namban-startup-check
User=root
WorkingDirectory=/usr/lib/namban/src


[Install]
WantedBy=multi-user.target
