.server{
    border-radius: 10px;
    border: 1px solid #666 ;
    color: aqua;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.color-aqua{
    color: #d54;
}
.font-l{
    font-size: 16px;
}
.font-s{
    font-size: 11px;
}
.color-high{
    color:#ccc;
}
.color-low{
    color: #666;
}
.server-button{
    margin-right: 5px;
}
.server-list{
    margin-left: 4px;
}
.input{
    border-radius: 10px;
}
.server-informaion{

}
.add-btn{
    font-size: 20px;
    border-radius: 15px;
    min-width:  20px;
    min-height: 30px;
}
.server-aspect-frame{
    min-height: 34px;
}
.trash-btn{
    
}
.button{
    border: none;
    border-radius: 12px;
}
.text-lg{
    font: 16px bolder;
    
}
.titlebar{
    /* background-color: aqua; */
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-6{
    margin-top: 30px;
}
.mb-1{
    margin-bottom: 5px;
}
.bg-red{
    /* background-color: #d54; */
    background: rgb(250, 20, 20);
    color: azure;
}
.bg-red:hover{
    background: rgb(250, 100, 100);
}
.bg-green{
    background: rgba(53, 167, 8, 0.993);
    color: azure;
}
.bg-green:hover{
    background: rgb(125, 255, 73);
}