[Unit]
Description=Namban daemon
After=network.target auditd.service
Documentation=https://github.com/parchlinuxb/namban

[Service]
ExecStart=/usr/lib/namban/namban-startup-check
User=root
WorkingDirectory=/usr/lib/namban/src

# Kill root process
KillMode=process

# Wait up to 30 minutes for service to start/stop
TimeoutSec=2

# Restart on non-successful exits.
Restart=on-failure


[Install]
WantedBy=multi-user.target
